[submodule "NEMU"]
	path = NEMU
	url = https://github.com/OpenXiangShan/NEMU.git
[submodule "WenXuanVec/difftest"]
	path = WenXuanVec/difftest
	url = https://github.com/OpenXiangShan/difftest.git
[submodule "WenXuanVec/rocket-chip"]
	path = WenXuanVec/rocket-chip
	url = git@github.com:OpenXiangShan/rocket-chip.git
[submodule "WenXuanVec/XiangShan"]
	path = WenXuanVec/XiangShan
	url = git@github.com:yelbuod/XiangShan.git
